*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    perspective: 600px;
    padding: 200px;
    
}
section ,.front ,.back{
    
    width: 350px;
    height: 350px;
    background-color: antiquewhite;
    transition: 1s;
}
section{
    float: left;
    position: relative;
    margin: auto;
    transform-style: preserve-3d;
}
.front ,.back{
    position: absolute;
}
.front{
    z-index: 1;
    backface-visibility: hidden;
}
section:hover{
    transform: rotateY(180deg);
}
.back{
    transform: rotateY(180deg);
}
.fone{
    background-image: url(../image/num3.avif);
    background-size: cover; 
}
.sec2{
    margin: 0 30px;
}
.ftwo{
    background-image: url(../image/num1.avif);
    background-size: cover;
}
.fthree{
    background-image: url(../image/num2.avif);
    background-size: cover;
}
